
#index {
    background-color: white;
    display: grid;
    row-gap: 5pt;
    grid-template-columns: 360px 1fr;
    grid-template-rows: 900px 900px 900px;
}

:root {
    --dbrown: #50291b;
    --lbrown: #895f46;
    --dgreen: #6e6e5c;
    --lgreen: #868370;
    --tan: #e7c09f;
}

@font-face {
    font-family: "HarvestBarn";
    src: url("fonts/HarvestBarn.ttf");
}
@font-face {
    font-family: "ShadowsIntoLight";
    src: url("fonts/ShadowsIntoLight.ttf");
}

body {
    height: 100%;
    background-color: var(--tan);
}

body h1 {
    text-align: center;
    color: var(--dbrown);
    font-family: "HarvestBarn", sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    margin: 10px;
    border-bottom: 2px solid var(--dbrown);
}

#todolist {
    font-family: "ShadowsIntoLight", sans-serif;
    color: var(--dbrown);
    font-size: 18px;
    margin: 10px;
    list-style: none;
    overflow: no-display;
    padding: 0px 15px 0px 15px;
}

#todolist li {
    border: 2px solid var(--dgreen);
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--lgreen);
    margin-bottom: 5px;
    border-radius: 10px;
}

#todolist p {
    margin: 0px;
    display: inline;
}

.checkbox {
    height: 100%;
    width: 18px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: 10px;
    /*used this to get #50291b: https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(17%) sepia(60%) saturate(543%) hue-rotate(331deg) brightness(93%) contrast(95%);
}

#tools {
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--dbrown);
    font-family: "ShadowsIntoLight", sans-serif;

}

#trash {
    height: 40px;
    width: 40px;
    filter: invert(17%) sepia(60%) saturate(543%) hue-rotate(331deg) brightness(93%) contrast(95%);
    align-self: flex-end;
}

#completed-item-show-label {
    display:inline-block;
    vertical-align: middle;
    line-height: 40px;
    color: var(--dbrown);
    font-family: "ShadowsIntoLight", sans-serif;
}

#completed-item-show-label span {
    line-height: 40px;
    height:100%;
    vertical-align: middle;
    display: inline-block;
}

#completed-item-show {
    display: none;
}

#completed-item-show-check {
    vertical-align: middle;
}

#new-task {
    bottom: 0px;
    /*border: 1px solid red;*/
    position: absolute;
    text-align: center;

    /*Together these center the add task bar*/
    transform: translateX(-50%);
    left: 50%;

    /*This forces the label to be inline with the input box*/
    white-space: nowrap;
    margin-bottom: 10px;
    background-color: var(--lgreen);
    border-radius: 10px;
    border: 2px solid var(--dgreen);

}

.delete-button {

    background-color: var(--lgreen);
    border-radius: 10px;
    border: 2px solid var(--dgreen);
    /*display: table;*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    margin-top: 10px

}

#delete-button-group {
    bottom: 25px;
    width: 78%;
    /*border: 1px solid red;*/
    position: absolute;
    text-align: center;
    align-self: center;
    margin: 0 auto;
    font-size: 20px;
    font-family: "ShadowsIntoLight", sans-serif;
    color: var(--dbrown);


    /*Together these center the add task bar*/
    transform: translateX(-50%);
    left: 50%;

    /*This forces the label to be inline with the input box*/
    white-space: nowrap;
}

#new-task-input {
    width: 240px;
    height: 30px;
    bottom: 0px;
    font-family: "ShadowsIntoLight", sans-serif;
    font-size: 18px;
    background-color: var(--lgreen);
    color: var(--dbrown);
    /*border-radius: 10px;*/
    padding: 5px;
    padding-left: 10px;
    border: none;
    border-left: 2px solid var(--dgreen);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

#rename-input {
    width: 200px;
    height: 30px;
    bottom: 0px;
    font-family: "ShadowsIntoLight", sans-serif;
    font-size: 18px;
    background-color: var(--lgreen);
    color: var(--dbrown);
    /*border-radius: 10px;*/
    padding: 5px;
    border: none;
    border-left: 2px solid var(--dgreen);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-right: -10px;
    border-right: 2px solid var(--dgreen);
}

#rename-button {
    height: 39px;
    /*width: 100%;*/
    font-family: "ShadowsIntoLight", sans-serif;
    font-size: 18px;
    background-color: var(--lgreen);
    color: var(--dbrown);
    /*border-radius: 10px;*/
    border-style: none;
    box-shadow: 2px 2px var(--dgreen);
    margin: 0px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

#new-task-input:focus {
    /*background-color: red;*/
    outline: none;
}

.unwanted-items {
    visibility: hidden;
}

#new-task-button {
    height: 100%;
    /*width: 100%;*/
    font-family: "ShadowsIntoLight", sans-serif;
    font-size: 18px;
    background-color: var(--lgreen);
    color: var(--dbrown);
    /*border-radius: 10px;*/
    border-style: none;
    box-shadow: 2px 2px var(--dgreen);
    margin: 5px;
}

#new-task-button:active {
    /*box-shadow: none;*/
    /*transform: translateY(2px) translateX(2px);*/
    background-color: var(--dgreen);
    box-shadow: 2px 2px var(--lgreen);

}

/*#new-task-button:after {*/
/*    content: "";*/
/*    height: 100px;*/
/*    width: 2px;*/
/*    background-color: red;*/
/*    display: block;*/
/*    border: 2px solid red;*/
/*    position: absolute;*/
/*}*/

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--dgreen);
}