
#index {
  background-color: white;
  display: grid;
  row-gap: 5pt;
  grid-template-columns: 360px 1fr;
  grid-template-rows: 900px 900px 900px;
}

#container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
}

:root {
  --dbrown: #422215;
  --lbrown: #895f46;
  --dgreen: #6e6e5c;
  --lgreen: #999985;
  --tan: #e7c09f;
  --red: #D97568;
  --dred: #A13E26;
}

@font-face {
  font-family: "HarvestBarn";
  src: url("fonts/HarvestBarn.ttf");
}
@font-face {
  font-family: "ShadowsIntoLight";
  src: url("fonts/ShadowsIntoLight.ttf");
}

body {
  height: 100%;
  background-color: var(--tan);
}

h1 {
  text-align: center;
  color: var(--dbrown);
  font-family: "HarvestBarn", sans-serif;
  font-size: 80px;
  text-transform: uppercase;
  margin: 10px;
}

#title {
  border-bottom: 2px solid var(--dbrown);
}

#no-tasks {
  font-size: 70px;
}

#todolist {
  font-family: "ShadowsIntoLight", sans-serif;
  color: var(--dbrown);
  font-size: 18px;
  margin: 10px;
  list-style: none;
  overflow: scroll;
  padding: 0;
  flex: 1;
}

#todolist li {
  border: 2px solid var(--dgreen);
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--lgreen);
  margin-bottom: 5px;
  border-radius: 10px;
}

#todolist p {
  margin: 0;
  display: inline;
}

.checkbox {
  min-width: 18px;
  object-fit: contain;
  margin: 10px;
  /*used this to get #422215: https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(11%) sepia(6%) saturate(6130%) hue-rotate(334deg) brightness(108%) contrast(91%);
}

/* source: https://stackoverflow.com/questions/16352864/how-to-display-image-in-place-of-checkbox */
input[type=checkbox] {
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-appearance: none;
}
input[type=checkbox]:checked {
  background-image: url(./assets/checkboxFull.png);
}
input[type=checkbox]:not(:checked) {
  background-image: url(./assets/checkboxEmpty.png);
}

#tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  color: var(--dbrown);
  font-family: "ShadowsIntoLight", sans-serif;
}

#sort-by {
  width: 320px;
  display: inline;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  color: var(--dbrown);
  font-family: "ShadowsIntoLight", sans-serif;
  height: 30px;
}

#trash-image {
  height: 40px;
  width: 40px;
  filter: invert(11%) sepia(6%) saturate(6130%) hue-rotate(334deg) brightness(108%) contrast(91%);
  align-self: flex-end;
}

.button {
  background-color: rgba(0,0,0,0%);
  border: 0;
}

#completed-item-show-label {
  display:inline-block;
  vertical-align: middle;
  line-height: 40px;
  color: var(--dbrown);
  font-family: "ShadowsIntoLight", sans-serif;
}

#completed-item-show-label span {
  line-height: 40px;
  height:100%;
  vertical-align: middle;
  display: inline-block;
}

#completed-item-show {
  display: none;
}

#completed-item-show-check {
  vertical-align: middle;
}

.delete-button {
  background-color: var(--lgreen);
  border-radius: 10px;
  border: 2px solid var(--dgreen);
  margin-top: 10px;
  width: 100%;

}

#button-group {
  text-align: center;
  align-self: center;
  font-size: 20px;
  font-family: "ShadowsIntoLight", sans-serif;
  color: var(--dbrown);
  width: 80%;
}

#priority-title {
  font-weight: bold;
  margin: 0;
}

#priority {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 20px;
}

.priority-button {
  background-color: var(--lgreen);
  color: var(--dbrown);
  font-weight: bolder;
  width: 45px;
  margin: 0;
  border: 2px solid var(--dgreen);
}

#priority-selector {
  margin-left: 20px;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  height: 30px;
}

.selectedPriority {
  background-color: var(--red);
  font-weight: bold;
  border: 2px solid var(--dred);
}

.priority-display {
  text-align: center;
  padding-right: 10px;
  font-weight: 4000;
  width: 30px;
}

.task {
  word-wrap: break-word;
  display: flex;
  justify-content: space-between;
}

#todolist .task-name {
  padding-right: 20px;
  overflow-wrap: anywhere;
  display: inline-block;
  flex: 1;
  width: 100%;
  text-align: left;
}

#task-button {
  flex: 1;
}

#new-task {
  bottom: 0;
  text-align: center;
  width: 80%;
  align-self: center;

  /*This forces the label to be inline with the input box*/
  white-space: nowrap;
  margin: 10px 10px;
  background-color: var(--lgreen);
  border-radius: 10px;

  display: flex; /* the button and input will be a row of flex */
  -ms-flex-align: center;
}

#new-task-input {
  border: 2px solid var(--dgreen);
  flex: 1;
  max-height: 40px;
  bottom: 0;
  font-family: "ShadowsIntoLight", sans-serif;
  font-size: 18px;
  background-color: inherit;
  color: var(--dbrown);
  padding: 5px 10px;
  border-left: 2px solid var(--dgreen);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

#new-task-button {
  max-height: 40px;
  font-family: "ShadowsIntoLight", sans-serif;
  font-size: 18px;
  background-color: inherit;
  color: var(--dbrown);
  border: 2px solid var(--dgreen);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding: 0 15px;
}

#new-task-button:active {
  background-color: var(--dgreen);
}

#rename-input {
  max-height: 30px; /* the border and the padding stay inside this height */
  flex: 1; /* makes the input get larger as screen size increases*/
  font-family: "ShadowsIntoLight", sans-serif;
  font-size: 18px;
  background-color: var(--lgreen);
  color: var(--dbrown);
  padding: 5px;
  border: 2px solid var(--dgreen);
  border-left: 2px solid var(--dgreen);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-right: 2px solid var(--dgreen);
}

#rename-button {
  height: 40px;
  font-family: "ShadowsIntoLight", sans-serif;
  font-size: 18px;
  background-color: var(--lgreen);
  color: var(--dbrown);
  border: 2px solid var(--dgreen);
  margin: 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

#rename-input:focus {
  /* This prevents a blue box from appearing around the input */
  outline: none;
}

#rename {
  width: 100%;
  display: flex;
}

#new-task-input:focus {
  /* This prevents a blue box from appearing around the input */
  outline: none;
}

.unwanted-items {
  visibility: hidden;
}

#todolist .selectedTask {
  background-color: var(--red);
  border: 2px solid var(--dred);
}

/*#new-task-button:after {*/
/*    content: "";*/
/*    height: 100px;*/
/*    width: 2px;*/
/*    background-color: red;*/
/*    display: block;*/
/*    border: 2px solid red;*/
/*    position: absolute;*/
/*}*/

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--dgreen);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
}

.modal {
  border-radius: 5px;
  border-color: var(--lbrown);
  border-style: solid;
  margin: auto auto;
  width: 250px;
  max-width: 100%;
  padding: 20px;
  /*position: absolute;*/
  background-color: var(--tan);
  font-family: "ShadowsIntoLight", sans-serif;

}

.modal-text {
  color: var(--dbrown);
  text-align: center;
  font-size: large;
}

.modal button {
  margin: 0 auto;
  color: var(--dbrown);
  background-color: var(--lgreen);
  font-family: "ShadowsIntoLight", sans-serif;
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
}

#cancel {
  background-color: var(--lgreen);
  font-size: large;
}

#confirm {
  background-color: var(--red);
  font-size: large;
  border: 2px solid var(--dred);
}

.modal-buttons {
  display: flex;
}

#sort {
  font-family: "ShadowsIntoLight", sans-serif;
  color: var(--dbrown);
  background-color: var(--tan);
  margin-left: 10px;
  margin-bottom: 5px;
}

#back-button-text {
  margin-left: auto;
  font-family: "ShadowsIntoLight";
  color: var(--dbrown);
  font-size: large;
}

button {
  font-family: "ShadowsIntoLight", sans-serif;
  color: var(--dbrown);
  font-size: large;
}